* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav a, p a {
    color: #032d60;
    font-weight: 600;
}

#nav a:hover {
    color: #0176d3;
}

#navsec {
    background-color: #fff;
}

.unbold {
    font-weight: normal !important;
}


#banner {
    background: url(/image/homepage-success-now-lg-bg.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
}

h1 {
    color: #032d60;
    font-size: 3.05rem;
    width: 45vw;
    font-weight: 700;
}

.whitetxt {
    color: #fff;
    background-color: #0176d3;
}

.bluetxt {
    color: #0176d3;
    background-color: #fff;    
    border-width: 2px solid #0176d3;
    border-radius: 3px;
} 

.bluetxt:hover {
    color: #032d60;
    background-color: #fff;
    border-color: #032d60;
}

.notunder {
    text-decoration: none;
}


h2 {
    color: #032d60;
    font-weight: 700;
}

.cardcon {
    display: flex;
    flex-direction: column;
    width: 380px;
    box-sizing: 0 0 30px 0 #afafaf !important;
}

#cardfluid {
    display: flex;
    justify-content: space-evenly;
}

a {
    color: #032d60;
}

section h2 {
    width: 60%;
}

#learn {
    color: #032d60;
}

p {
    color: #000000cc;
    font-weight: 400;
    font-size: 18px;
}

#indust {
    background: url(/image/hp-industries-page-break-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 100%;
}

button {
    font-size: 16px !important;
}

#underCRM {
    background: url(/image/hp-page-break-img-hills.png) no-repeat;
    background-size: 100%;
    background-position: center bottom;
    padding-bottom: 200px;
}

#whitebg {
    background-color: #fff;
}
